<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>直播房间</b>
    </div>
    <el-button
      type="primary"
      size="big"
      style="width: 110px;  margin-bottom: 0.5%"
      @click="addDialog = true"
    >
      + 创建</el-button>
    <el-table
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" type="index" width="120px" align="center" /> -->
      <el-table-column label="房间ID" prop="RoomID" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.game_id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="房间名" prop="RoomName" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="封面" prop="cover_img" align="center">
        <template slot-scope="{ row }">
          <el-image
            style="width: 100px; height: 100px"
            :src="row.cover_img"
            fit="contain"
          />
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="create_time_text" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.create_time_text | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="链接" prop="Link" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.video_url }}</span>
          <br>
          <el-button type="primary" size="small" icon="el-icon-document" @click="handleCopy(row.video_url,$event)">复制</el-button>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="{ row }">
          <el-button type="primary" size="small" @click="fetchRoomDetail(row)">编辑</el-button>
        </template>
      </el-table-column>
      <el-table-column label="开启/关闭" align="center">
        <template slot-scope="{ row }">
          <el-switch
            :value="row.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="handleChangeStatus(row)"
          />
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchRoom"
    />
    <el-dialog title="创建房间" :visible.sync="addDialog" center width="40%">
      <el-form ref="addForm" :model="addForm" :rules="textValidate" autocomplete="on" label-position="left">
        <el-form-item prop="name" label="房间名: " label-width="30%">
          <el-input
            v-model="addForm.name"
            placeholder="Room Name"
            tabindex="1"
            size="medium"
          />
        </el-form-item>
        <el-form-item prop="cover_img" label="选取封面: " label-width="30%">
          <div>
            <el-image
              v-if="addForm.cover_img"
              style="width: 100px; height: 100px"
              :src="addForm.cover_img"
              fit="contain"
            />
          </div>
          <input type="file" @change="uploadImage">
        </el-form-item>
        <el-form-item prop="video_url" label="视频源: " label-width="30%">
          <el-input
            v-model="addForm.video_url"
            size="medium"
            placeholder="video link"
          />
        </el-form-item>
        <el-form-item prop="agent_balance" label="开启/关闭: " label-width="30%">
          <el-switch
            :value="addForm.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="handleAddChangeStatus"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button v-if="addDialog" type="primary" @click="addRoom">提交</el-button>
        <el-button @click="reset('addForm')">取消</el-button>
      </span>
    </el-dialog>
    <!-- Edit Dialog -->
    <el-dialog title="创建房间" :visible.sync="editDialog" center width="40%">
      <el-form ref="editForm" :rules="textValidate" :model="editForm" autocomplete="on" label-position="left">
        <el-form-item prop="name" label="房间名: " label-width="30%">
          <el-input
            v-model="editForm.name"
            placeholder="Room Name"
            tabindex="1"
            size="medium"
          />
        </el-form-item>
        <el-form-item prop="cover_img" label="选取封面: " label-width="30%">
          <div>
            <el-image
              v-if="editForm.cover_img"
              style="width: 100px; height: 100px"
              :src="editForm.cover_img"
              fit="contain"
            />
          </div>
          <input type="file" @change="editUploadImage">
        </el-form-item>
        <el-form-item prop="video_url" label="视频源: " label-width="30%">
          <el-input
            v-model="editForm.video_url"
            size="medium"
            placeholder="video link"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="editRoom">提交</el-button>
        <el-button @click="resetEdit('editForm')">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchRoom, fetchRoomDetail, addRoom, editRoom, enableRoom, disableRoom, deleteRoom } from '@/api/room'
import { uploadImage } from '@/api/common'
import clip from '@/utils/clipboard' // use clipboard directly
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    const roomName = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter room name'))
      } else {
        callback()
      }
    }
    const chooseFile = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please choose file'))
      } else {
        callback()
      }
    }
    const videoLink = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter video link'))
      } else {
        callback()
      }
    }
    return {
      tableData: [],
      total: 0,
      value: '',
      switchOpenClose: true,
      editDialog: false,
      addDialog: false,
      selectRow: {},
      listQuery: {
        page: 1,
        limit: 20
      },
      addForm: {
        name: '',
        cover_img: '',
        video_url: '',
        status: 1
      },
      editForm: {},
      imageInfo: {},
      selectRoomID: '',
      textValidate: {
        name: [{ required: true, trigger: 'blur', validator: roomName }],
        cover_img: [{ required: true, trigger: 'blur', validator: chooseFile }],
        video_url: [{ required: true, trigger: 'blur', validator: videoLink }]
      }
    }
  },
  mounted() {
    this.fetchRoom()
  },
  methods: {
    async fetchRoom() {
      await fetchRoom().then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
    },
    async uploadImage(e) {
      const files = e.target.files
      if (files.length > 0) {
        const f = new FormData()
        f.append('file', files[0])
        await uploadImage(f).then(res => {
          const { code, data } = res
          if (code >= 0) {
            this.$set(this.addForm, 'cover_img', data.filelink)
            e.target.value = ''
            this.imageInfo = data
          }
        }).catch(
          ({
            response: {
              data: { errors }
            }
          }) => {
            this.$alert('圖片上傳失敗，大小超過2MB')
          }
        )
      }
    },
    async editUploadImage(e) {
      const files = e.target.files
      if (files.length > 0) {
        const f = new FormData()
        f.append('file', files[0])
        await uploadImage(f).then(res => {
          const { code, data } = res
          if (code >= 0) {
            this.$set(this.editForm, 'cover_img', data.filelink)
            e.target.value = ''
          }
        }).catch(
          ({
            response: {
              data: { errors }
            }
          }) => {
            this.$alert('圖片上傳失敗，大小超過2MB')
          }
        )
      }
    },
    handleAddChangeStatus() {
      this.addForm.status === 1 ? this.addForm.status = 0 : this.addForm.status = 1
    },
    handleEditChangeStatus() {
      this.editForm.status === 1 ? this.editForm.status = 0 : this.editForm.status = 1
    },
    reset(formName) {
      this.addDialog = !this.addDialog
      this.$refs[formName].resetFields()
    },
    resetEdit(formName) {
      this.editDialog = !this.editDialog
      this.$refs[formName].resetFields()
    },
    async addRoom() {
      this.$refs.addForm.validate(async valid => {
        if (valid) {
          await addRoom(this.addForm.name, this.addForm.cover_img, this.addForm.video_url, this.addForm.status).then(res => {
            const { code } = res
            if (code >= 0) {
              this.$message({
                type: 'success',
                message: 'Room added'
              })
            }
          })
          this.fetchRoom()
          this.addDialog = !this.addDialog
        }
      })
    },
    async fetchRoomDetail(row) {
      await fetchRoomDetail(row.id).then(res => {
        const { code, data } = res
        if (code >= 0) {
          this.editForm = data
          this.editDialog = !this.editDialog
          this.selectRoomID = row.id
        }
      })
    },
    async editRoom() {
      this.$refs.editForm.validate(async valid => {
        if (valid) {
          await editRoom(this.selectRoomID, this.editForm.name, this.editForm.cover_img, this.editForm.video_url, this.editForm.status).then(res => {
            const { code } = res
            if (code >= 0) {
              this.fetchRoom()
              this.$message({
                type: 'success',
                message: 'Modified room'
              })
            }
          })
          this.editDialog = !this.editDialog
        }
      })
    },
    async deleteRoom() {
      await deleteRoom()
      this.fetchRoom()
    },
    handleEdit(row) {
      this.editDialog = !this.editDialog
      this.selectRow = row
    },
    handleCopy(text, event) {
      clip(text, event)
    },
    handleChangeStatus(row) {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.handleSwitch(row)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    async handleSwitch(row) {
      if (row.status === 1) {
        // disable
        const res = await disableRoom([row.id])
        if (res.code >= 0) {
          // complete show notify success disable
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchRoom()
          // call api fectchMarquee to update the data
        }
      } else {
        // enable
        const res = await enableRoom([row.id])
        if (res.code >= 0) {
          // complete show notify success enable
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchRoom()
          // call api fectchMarquee to update the data
        }
      }
    }
  }
}
</script>
<style lang=""></style>
