<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>用户在线</b>
      </div>
      <el-row :gutter="20">
        <el-col>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="选择日期: ">
              <el-date-picker
                v-model="dateValue"
                type="date"
                placeholder="请选择日期"
              />
            </el-form-item>
            <el-form-item label="选择渠道: " style="margin-left: 2%">
              <el-select
                v-model="selectedChannel"
                placeholder="Select"
                style="margin-left: 1.5%"
                filterable
              >
                <el-option
                  v-for="item in channelOptions"
                  :key="item.id"
                  :label="item.realname"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="float: right; margin: 0% 0% 1% 0%"
        @click.prevent="search"
      >查询</el-button>
    </el-card>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" type="index" align="center" width="120px" /> -->
      <el-table-column
        label="渠道"
        prop="ChannelID"
        align="center"
        width="120px"
      >
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="日期" prop="date" width="120px" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.date !== ''">{{ row.date }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="00:00" prop="h0" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h0 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="01:00" prop="h1" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h1 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="02:00" prop="h2" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h2 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="03:00" prop="h3" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h3 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="04:00" prop="h4" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h4 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="05:00" prop="h5" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h5 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="06:00" prop="h6" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h6 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="07:00" prop="h7" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h7 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="08:00" prop="h8" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h8 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="09:00" prop="h9" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h9 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="10:00" prop="h10" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h10 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="11:00" prop="h11" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h11 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="12:00" prop="h12" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h12 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="13:00" prop="h13" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h13 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="14:00" prop="h14" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h14 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="15:00" prop="h15" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h15 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="16:00" prop="h16" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h16 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="17:00" prop="h17" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h17 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="18:00" prop="h18" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h18 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="19:00" prop="h19" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h19 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="20:00" prop="h20" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h20 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="21:00" prop="h21" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h21 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="22:00" prop="h22" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h22 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="23:00" prop="h23" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.h23 }}</span>
        </template>
      </el-table-column>

      <!-- <template slot-scope="{ row }">
        <el-table-column
          v-for="item in row.items"
          :key="item.time"
          label="time"
          align="center"
        >
          <template slot-scope="{}">
            <span>{{ row.items[0].time }}</span>
          </template>
        </el-table-column>
      </template> -->
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchUserOnline"
    />
  </div>
</template>

<script>
import { fetchChannels } from '@/api/channel'
import { fetchUserOnline } from '@/api/statistics'
import Pagination from '@/components/Pagination'

export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      channelOptions: [],
      dateValue: '',
      selectedChannel: '',
      selectedDate: '',
      total: 0,
      listLoading: true
    }
  },
  mounted() {
    this.fetchUserOnline()
    this.fetchChannels()
  },
  methods: {
    async search() {
      this.listLoading = true
      if (this.dateValue !== '') {
        const startDate = new Date(this.dateValue)
        this.selectedDate = startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()
      }
      await fetchUserOnline(this.listQuery.page, this.listQuery.limit, this.selectedChannel, this.selectedDate).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.listLoading = false
    },
    async fetchChannels() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
    },
    async fetchUserOnline() {
      this.listLoading = true
      await fetchUserOnline(this.listQuery.page, this.listQuery.limit).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.listLoading = false
    }
  }
}
</script>
<style lang=""></style>
