<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>渠道用户额度记录</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <span
            class="demonstration"
            style="margin: 0.5%"
          >选择日期 :</span>
          <el-date-picker
            v-model="startDateValue"
            type="date"
            placeholder="请选择时间"
          />
        </el-col>
        <el-col
          :span="8"
        ><span>选择渠道 : </span>
          <el-select v-model="selectedChannel" placeholder="Select">
            <el-option
              v-for="item in channelOptions"
              :key="item.id"
              :label="item.realname"
              :value="item.id"
            /> </el-select></el-col>
        <el-col :span="8">
          <el-radio v-model="radio" label="username">用户名</el-radio>
          <el-radio v-model="radio" label="id">ID</el-radio>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 2%"
          >
            <el-form-item label="查询关键字:">
              <el-input
                v-model="searchInput"
                placeholder="Input here to search"
                clearable
              />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="float: right; margin-bottom: 1.5%"
        @click="search"
      >查询</el-button>
    </el-card>
    <el-table
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" type="index" width="120px" align="center" /> -->
      <el-table-column label="日期" prop="date" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.date !== ''">{{ row.date }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="ID" prop="uid" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.user_maps">{{ row.user_maps.username }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="用户名" prop="Username" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.user_maps">{{ row.user_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="渠道ID" prop="agent_id" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="个人取款"
        prop="withdraw_amount"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.withdraw_amount }}</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchUserWithdrawals"
    />
  </div>
</template>

<script>
import { fetchChannels } from '@/api/channel'
import { fetchUserWithdrawals } from '@/api/withdrawal'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      channelOptions: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      value: '',
      radio: 'username',
      searchInput: '',
      startDateValue: '',
      endDateValue: '',
      selectedChannel: '',
      total: 0,
      loading: true
    }
  },
  mounted() {
    this.fetchUserWithdrawals()
    this.fetchChannels()
  },
  methods: {
    async search() {
      this.loading = true
      if (this.startDateValue !== '') {
        const startDate = new Date(this.startDateValue)
        this.selectedStartDate = startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()
      }
      // if (this.endDateValue !== '') {
      //   const endDate = new Date(this.endDateValue)
      //   this.selectedEndDate = endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate()
      // }
      await fetchUserWithdrawals(this.listQuery.page, this.listQuery.limit, this.searchInput, this.selectedChannel, this.selectedStartDate).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.loading = !this.loading
    },
    async fetchChannels() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
    },
    async fetchUserWithdrawals() {
      this.loading = true
      await fetchUserWithdrawals(this.listQuery.page, this.listQuery.limit).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.loading = !this.loading
    }
  }
}
</script>
<style lang=""></style>
