<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>游戏基本配置</b>
    </div>
    <el-row :gutter="20" style="margin: 1%">
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="bet_times" label="游戏桌下注选项: ">
            <el-input v-model="gameConfiguration.bet_times" />
          </el-form-item>
          <span>倍</span>
          <el-button
            type="primary"
            size="small"
            style="margin: 0.1% 0% 0% 0.5%"
            @click="openEditDialog('游戏桌下注选项', gameConfiguration.bet_times, Data.bet_times, 'editBetTime')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="card_head" label="牌头选项：">
            <el-input v-model="gameConfiguration.card_head" />
          </el-form-item>
          <span>倍</span>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 1.5%"
            @click="openEditDialog('游戏桌下注选项', gameConfiguration.card_head, Data.card_head, 'editCardHead')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="sz_min_mpl" label="上庄最小倍数: ">
            <el-input v-model="gameConfiguration.sz_min_mpl" />
          </el-form-item>
          <span>倍</span>
          <el-button
            type="primary"
            size="small"
            style="margin: 0.1% 0% 0% 0.5%"
            @click="openEditDialog('上庄最小倍数', gameConfiguration.sz_min_mpl, Data.sz_min_mpl, 'editSZMinMPL')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="gz_min_mpl" label="公庄最小倍数: ">
            <el-input v-model="gameConfiguration.gz_min_mpl" />
          </el-form-item>
          <span>倍</span>
          <el-button
            type="primary"
            size="small"
            style="margin: 0.1% 0% 0% 0.5%"
            @click="openEditDialog('公庄最小倍数', gameConfiguration.gz_min_mpl, Data.gz_min_mpl, 'editGZMinMPL')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="bz_min_mpl" label="帮庄最小倍数: ">
            <el-input v-model="gameConfiguration.bz_min_mpl" />
          </el-form-item>
          <span>倍</span>
          <el-button
            type="primary"
            size="small"
            style="margin: 0.1% 0% 0% 0.5%"
            @click="openEditDialog('帮庄最小倍数', gameConfiguration.bz_min_mpl, Data.bz_min_mpl, 'editBZMinMPL')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form :inline="true" class="demo-form-inline" style="margin-top: 5%">
          <el-form-item label="游戏倒计时：" />
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="bet_countdown_time" label="下注倒计时：">
            <el-input v-model="gameConfiguration.bet_countdown_time" style="margin-left: 8%" />
          </el-form-item>
          <span style="margin-left: 1%">S</span>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 0.8%"
            @click="openEditDialog('下注倒计时', gameConfiguration.bet_countdown_time, Data.bet_countdown_time, 'editBetCountdownTime')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="card_head_time" label="选择牌头时间：">
            <el-input v-model="gameConfiguration.card_head_time" />
          </el-form-item>
          <span>S</span>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 1%"
            :disabled="card_head_time === ''"
            @click="openEditDialog('选择牌头时间', gameConfiguration.card_head_time, Data.card_head_time, 'editCardHeadTime')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="dice_time" label="选择打骰时间：">
            <el-input v-model="gameConfiguration.dice_time" />
          </el-form-item>
          <span>S</span>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 1%"
            @click="openEditDialog('选择打骰时间', gameConfiguration.dice_time, Data.dice_time, 'editDiceTime')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="gameConfiguration" :inline="true" :model="gameConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="open_card_time" label="选择开牌时间：">
            <el-input v-model="gameConfiguration.open_card_time" />
          </el-form-item>
          <span>S</span>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 1%"
            @click="openEditDialog('选择开牌时间', gameConfiguration.open_card_time, Data.open_card_time, 'editOpenCardTime')"
          >提交</el-button>
        </el-form>
      </el-col>
    </el-row>
    <el-dialog title="提示" :visible.sync="editDialog" center width="20%">
      <h4>{{ title }}</h4>
      <div>原配置：<b>{{ currentValue }}</b></div>
      <div>新配置：<b>{{ updateValue }}</b></div>
      <br>
      <div>确定修改吗?</div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleFunctionCall(action, $event)">确认</el-button>
        <el-button @click="editDialog = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchGameConfiguration } from '@/api/gameconfiguration'
import { editBetTime, editCardHead, editBetCountdownTime, editCardHeadTime, editDiceTime, editOpenCardTime, editSZMinMPL, editGZMinMPL, editBZMinMPL } from '@/api/edit-gameconfiguration'
export default {
  data() {
    const valid_betTime = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const card_head = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const gz_min_mpl = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const bz_min_mpl = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const sz_min_mpl = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const bet_countdown_time = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const card_head_time = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const dice_time = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const open_card_time = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    return {
      startDate: null,
      Data: {},
      editDialog: false,
      title: '',
      updateValue: undefined,
      currentValue: undefined,
      bet_times: null,
      card_head: null,
      gz_min_mpl: null,
      bz_min_mpl: null,
      sz_min_mpl: null,
      bet_countdown_time: null,
      card_head_time: null,
      dice_time: null,
      open_card_time: null,
      action: '',
      gameConfiguration: {
        bet_times: '',
        card_head: '',
        gz_min_mpl: '',
        bz_min_mpl: '',
        sz_min_mpl: '',
        bet_countdown_time: '',
        card_head_time: '',
        dice_time: '',
        open_card_time: ''
      },
      textValidate: {
        bet_times: [{ required: true, trigger: 'blur', validator: valid_betTime }],
        card_head: [{ required: true, trigger: 'blur', validator: card_head }],
        gz_min_mpl: [{ required: true, trigger: 'blur', validator: gz_min_mpl }],
        bz_min_mpl: [{ required: true, trigger: 'blur', validator: bz_min_mpl }],
        sz_min_mpl: [{ required: true, trigger: 'blur', validator: sz_min_mpl }],
        bet_countdown_time: [{ required: true, trigger: 'blur', validator: bet_countdown_time }],
        card_head_time: [{ required: true, trigger: 'blur', validator: card_head_time }],
        dice_time: [{ required: true, trigger: 'blur', validator: dice_time }],
        open_card_time: [{ required: true, trigger: 'blur', validator: open_card_time }]
      }
    }
  },
  mounted() {
    this.fetchGameConfiguration()
  },
  methods: {
    async fetchGameConfiguration() {
      await fetchGameConfiguration().then(res => {
        const { data } = res
        this.Data = data
        this.gameConfiguration.bet_times = data.bet_times
        this.gameConfiguration.card_head = data.card_head
        this.gameConfiguration.gz_min_mpl = data.gz_min_mpl
        this.gameConfiguration.sz_min_mpl = data.sz_min_mpl
        this.gameConfiguration.bz_min_mpl = data.bz_min_mpl
        this.gameConfiguration.bet_countdown_time = data.bet_countdown_time
        this.gameConfiguration.card_head_time = data.card_head_time
        this.gameConfiguration.dice_time = data.dice_time
        this.gameConfiguration.open_card_time = data.open_card_time
      })
    },
    async editBetTime() {
      await editBetTime(this.gameConfiguration.bet_times).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editCardHead() {
      await editCardHead(this.gameConfiguration.card_head).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editBetCountdownTime() {
      await editBetCountdownTime(this.bet_countdown_time).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editCardHeadTime() {
      await editCardHeadTime(this.gameConfiguration.card_head_time).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editDiceTime() {
      await editDiceTime(this.gameConfiguration.dice_time).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editOpenCardTime() {
      await editOpenCardTime(this.gameConfiguration.open_card_time).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editSZMinMPL() {
      await editSZMinMPL(this.gameConfiguration.sz_min_mpl).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editGZMinMPL() {
      await editGZMinMPL(this.gameConfiguration.gz_min_mpl).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    async editBZMinMPL() {
      await editBZMinMPL(this.gameConfiguration.bz_min_mpl).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.editDialog = !this.editDialog
      this.fetchGameConfiguration()
    },
    openEditDialog(title, updateValue, currentValue, action) {
      this.title = title
      this.updateValue = updateValue
      this.currentValue = currentValue
      this.action = action
      if (updateValue === '') {
        this.editDialog = false
      } else {
        this.editDialog = true
      }
      // this.$refs.gameConfiguration.validate(async valid => {
      //   if (valid) {
      //     this.editDialog = !this.editDialog
      //   }
      // })
    },
    handleFunctionCall(functionName, event) {
      this[functionName](event)
    }
  }
}
</script>
<style>
.demo-input-label {
  display: inline-block;
  width: 130px;
}
</style>
