<template>
  <div class="app-container">
    <el-button type="primary" @click="handleAddRole">创建角色</el-button>

    <el-table :data="rolesList" style="width: 100%;margin-top:30px;" border>
      <!-- <el-table-column label="ID" type="index" align="center" /> -->
      <el-table-column
        label="角色"
        prop="Name"
        align="center"
        width="120"
      >
        <template slot-scope="{ row }">
          <span v-if="row.name !== ''">{{ row.name }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column
        label="Permission"
        align="center"
      >
        <template slot-scope="{ row }">
          <el-button v-if="row.id === 1" type="primary" disabled>不可操作</el-button>
          <el-button v-else type="primary" :disabled="row.id === 1" @click="handleEdit(row.id)">编辑</el-button>
        </template>
      </el-table-column> -->
      <el-table-column
        label="用户数量"
        prop="amount"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.users_count }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="创建时间"
        prop="create_time_text"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.created_at !== ''">{{ row.created_at | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="更新时间"
        prop=""
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.updated_at !== null">{{ row.updated_at | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="备注"
        prop="remarks"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.desc !== ''">{{ row.desc }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        prop="remarks"
        align="center"
      >
        <template slot-scope="{ row }">
          <el-button v-if="row.id === 1" type="primary" size="mini" disabled>不可操作</el-button>
          <el-button v-else type="primary" :disabled="row.id === 1" size="mini" @click="handleEdit(row.id)">编辑</el-button>
          <el-button v-if="row.id === 1" type="danger" size="mini" disabled>不删除</el-button>
          <el-button v-else type="danger" :disabled="row.id === 1" size="mini" @click="handleDelete(row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="getRoles"
    />
    <el-dialog :visible.sync="dialogVisible" :title="dialogType==='edit'?'Edit Role':'新角色'">
      <el-form ref="name" :model="listName" :rules="textValidate" label-width="80px" label-position="left">
        <el-form-item prop="name" label="角色名称">
          <el-input v-model="listName.name" placeholder="角色名称" />
        </el-form-item>
        <el-form-item label="菜单">
          <el-checkbox v-model="checked" @change="setCheckedKeys">全选</el-checkbox>
          <el-tree
            ref="tree"
            :check-strictly="checkStrictly"
            :data="routesData"
            :props="defaultProps"
            show-checkbox
            node-key="name"
            highlight-current
            class="permission-tree"
          />
        </el-form-item>
      </el-form>
      <div style="text-align:right;">
        <el-button type="danger" @click="reset('name')">取消</el-button>
        <el-button type="primary" @click="confirmRole">确认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getRoutes, getRoles, addRole, deleteRole, updateRole, getRoleDetail } from '@/api/role'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    const textName = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter text'))
      } else {
        callback()
      }
    }
    return {
      routes: [],
      rolesList: [],
      dialogVisible: false,
      dialogType: 'new',
      checkStrictly: false,
      defaultProps: {
        children: 'children',
        label: 'display_name'
      },
      listQuery: {
        page: 1,
        limit: 20
      },
      listLoading: true,
      allRoutes: [],
      editRoutes: [],
      permission: [],
      listName: {
        name: ''
      },
      name: '',
      selectedId: 0,
      checked: false,
      total: 0,
      textValidate: {
        name: [{ required: true, trigger: 'blur', validator: textName }]
      }
    }
  },
  computed: {
    routesData() {
      return this.routes
    }
  },
  created() {
    // Mock: get all routes and roles list from server
    this.getRoutes()
    this.getRoles()
  },
  methods: {
    async getRoutes() {
      const res = await getRoutes()
      this.listLoading = !this.listLoading
      this.serviceRoutes = res.data
      this.routes = res.data
      for (const route in this.serviceRoutes) {
        for (const child in this.serviceRoutes[route].children) {
          const obj = { name: this.serviceRoutes[route].children[child].name }
          this.allRoutes.push(obj)
        }
      }
    },
    async getRoles() {
      const res = await getRoles()
      this.rolesList = res.data.lists
      this.total = res.data.total
    },
    setCheckedKeys() {
      if (this.checked === true) {
        this.$refs.tree.setCheckedNodes(this.allRoutes)
        for (const route in this.serviceRoutes) {
          for (const child in this.serviceRoutes[route].children) {
            this.permission.push(this.serviceRoutes[route].children[child].id)
          }
        }
      } else {
        this.$refs.tree.setCheckedNodes([])
        this.permission = []
      }
    },
    setEditCheckedKey() {
      this.$refs.tree.setCheckedNodes(this.editRoutes)
    },
    resetChecked() {
      this.$refs.tree.setCheckedNodes([])
      this.permission = []
    },
    handleAddRole() {
      if (this.$refs.tree) {
        this.$refs.tree.setCheckedNodes([])
      }
      this.listName.name = ''
      this.checked = false
      this.dialogType = 'new'
      this.dialogVisible = true
    },
    async handleEdit(id) {
      this.dialogType = 'edit'
      this.dialogVisible = true
      this.checked = false
      this.selectedId = id
      this.editRoutes = []
      await getRoleDetail(id).then(res => {
        const permissions = res.data.purviews
        const allPermissions = res.data.permissions
        this.listName.name = res.data.name
        this.permission = permissions
        for (const route in allPermissions) {
          for (const child in allPermissions[route].children) {
            if (permissions.indexOf(allPermissions[route].children[child].id) !== -1) {
              const obj = { name: allPermissions[route].children[child].name }
              this.editRoutes.push(obj)
            }
          }
        }
        this.$refs.tree.setCheckedNodes(this.editRoutes)
      })
    },
    handleDelete(id) {
      this.$confirm('Confirm to remove the role?', 'Warning', {
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        type: 'warning'
      })
        .then(async() => {
          await deleteRole(id).then(res => {
            const { msg, code } = res
            if (code >= 0) {
              this.getRoutes()
              this.getRoles()
              this.$message({
                type: 'success',
                message: msg
              })
            } else {
              this.$message({
                type: 'warning',
                message: msg
              })
            }
          })
        })
        .catch(err => { console.error(err) })
    },
    reset(formName) {
      this.dialogVisible = !this.dialogVisible
      this.$refs[formName].resetFields()
    },
    async confirmRole() {
      const isEdit = this.dialogType === 'edit'
      const checkedKeys = [...new Set(this.$refs.tree.getCheckedKeys())]
      this.permission = []
      for (const route in this.serviceRoutes) {
        for (const child in this.serviceRoutes[route].children) {
          for (const checkedKey in checkedKeys) {
            if (this.serviceRoutes[route].children[child].listName.name === checkedKeys[checkedKey]) {
              this.permission.push(this.serviceRoutes[route].children[child].id)
            }
          }
        }
      }
      this.permission = [...new Set(this.permission)]
      if (isEdit) {
        await updateRole(this.selectedId, this.name, this.permission).then(res => {
          if (res.code >= 0) {
            this.$notify({
              title: 'Success',
              dangerouslyUseHTMLString: true,
              message: res.msg,
              type: 'success'
            })
            this.dialogVisible = false
          }
        })
      } else {
        this.$refs.name.validate(async valid => {
          if (valid) {
            await addRole(this.listName.name, this.permission).then(res => {
              if (res.code >= 0) {
                this.$notify({
                  title: 'Success',
                  dangerouslyUseHTMLString: true,
                  message: res.msg,
                  type: 'success'
                })
                this.dialogVisible = false
              }
            })
          }
        })
      }
      this.getRoles()
      this.getRoutes()
    }
  }
}
</script>

<style lang="scss" scoped>
.app-container {
  .roles-table {
    margin-top: 30px;
  }
  .permission-tree {
    margin-bottom: 30px;
  }
}
</style>
