<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>所有用户</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-row :gutter="20">
            <el-col>
              <span
                class="demonstration"
                style="margin: 0.5%"
              ><label style="font-size: 14px;">选择日期 : </label></span>
              <el-date-picker
                v-model="startDateValue"
                type="date"
                placeholder=""
                value-format="yyyy-MM-dd"
              />
            </el-col>
            <el-col style="margin-top: 1%">
              <span class="demonstration" style="margin: 0.5%"><label style="font-size: 14px;">结束时间 : </label></span>
              <el-date-picker
                v-model="endDateValue"
                type="date"
                placeholder=""
                style="margin-left: 0.5%"
                value-format="yyyy-MM-dd"
              />
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="8">
          <el-row :gutter="20">
            <el-col>
              <label style="font-size: 14px;">设备 : </label>
              <el-select
                v-model="selectedDevice"
                placeholder="全部"
                style="margin-left: 1.5%"
              >
                <el-option
                  v-for="item in deviceOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-col>
            <el-col style="margin-top: 1%">
              <label style="font-size: 14px;">渠道 : </label>
              <el-select
                v-model="selectedChannel"
                placeholder="全部"
                style="margin-left: 1.5%"
                filterable
              >
                <el-option
                  v-for="item in channelOptions"
                  :key="item.id"
                  :label="item.realname"
                  :value="item.id"
                />
              </el-select>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="8">
          <label style="font-size: 14px;">类型 : </label>
          <el-select v-model="selectedType" placeholder="全部">
            <el-option
              v-for="item in typeOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="margin-bottom: 0.5%; float: right"
        @click="searchUsers"
      >查询</el-button>
    </el-card>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column
        type="index"
        width="50"
        align="center"
      /> -->
      <el-table-column label="ID" prop="id" align="center" width="140">
        <template slot-scope="{ row }">
          <span v-if="row.username !== ''">{{ row.username }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="用户名"
        prop="Username"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.realname !== ''">{{ row.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="渠道"
        prop="ChannelID"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="手机号"
        prop="PhoneNumber"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.phone !== ''">{{ row.phone }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="注册设备"
        prop="RegisterDevice"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.origin_text !== ''">{{ row.origin_text }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="是否首次登陆"
        prop="LoginStatus"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.is_new_user_text !== ''">{{ row.is_new_user_text }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册时间" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.create_time_text !== ''">{{ row.create_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="最后登录时间" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.login_time_text !== ''">{{ row.login_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="登录记录"
        prop="RegisterRecord"
        align="center"
      >
        <template slot-scope="{ row }">
          <el-button type="primary" size="mini" @click="checkRecord(row.id)">查看</el-button>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{ row }">
          <!-- <el-button type="primary" size="mini" @click="handleModifyLimit(row)">
            Red Limit
          </el-button> -->
          <el-button size="mini" type="danger" @click="handleBan(row)">
            封禁
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <div style="margin-top: 1%">
      累计查询内容 : {{ total }}条
    </div> -->
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchUsers"
    />
    <!-- <el-dialog
      title="Modify user limit"
      :visible.sync="dialogLimitRed"
      center
      width="30%"
    >
      <el-form :model="form">
        <div style="text-align: center">
          Username: {{ selectRow.username }} ID : {{ selectRow.agent_id }}
        </div>
        <div style="text-align: center; margin: 4%">
          Current Red limit: {{ selectRow.withdraw_limit }}
        </div>
        <el-form-item label="New limited bonus amount : " label-width="50%">
          <el-input-number v-model="redLimit" size="medium" />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogLimitRed = false">Cancel</el-button>
        <el-button type="primary" @click="handleModifyLimit">Submit</el-button>
      </span>
    </el-dialog> -->
    <el-dialog title="解封用户" :visible.sync="dialogBan" center width="30%">
      <div v-if="selectRow.agent_maps" style="text-align: center">
        用户名: {{ selectRow.agent_maps.realname }} ID : {{ selectRow.username }}
      </div>
      <div v-else style="text-align: center">
        用户名: - ID : {{ selectRow.username }}
      </div>
      <el-form ref="form" :model="form" style="margin: 5% 5% 0% 5%">
        <el-form-item label="请描述原因:" label-width="100px" prop="ban_desc">
          <el-input ref="ban_desc" v-model="form.ban_desc" type="text" name="ban_desc" clearable />
          <span />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" :disabled="form.ban_desc === ''" @click="handleSubmitBan">解封</el-button>
        <el-button @click="dialogBan = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import router from '@/router'
import { fetchUsers, banUser } from '@/api/user-query'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
import { fetchChannels } from '@/api/channel'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      deviceOptions: [
        {
          value: '',
          label: '全部'
        },
        {
          value: 'H5',
          label: 'H5'
        },
        {
          value: 'PC',
          label: 'PC'
        },
        {
          value: 'Android',
          label: 'Android'
        },
        {
          value: 'IOS',
          label: 'IOS'
        }
      ],
      typeOptions: [
        {
          value: '',
          label: '全部'
        },
        {
          value: '1',
          label: 'New'
        }
      ],
      channelOptions: [
      ],
      form: {
        ban_desc: ''
      },
      value: '',
      selectedDevice: '',
      selectedType: '',
      selectedChannel: '',
      selectedStartDate: '',
      selectedEndDate: '',
      startDateValue: '',
      endDateValue: '',
      dialogLimitRed: false,
      dialogBan: false,
      selectRow: {},
      total: 0,
      listLoading: true
    }
  },
  mounted() {
    this.fetchUsers()
    this.fetchChannel()
  },
  methods: {
    checkRecord(id) {
      const userId = id
      router.push({ name: '登陆记录', params: { id: userId }})
    },
    async fetchChannel() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
    },
    async fetchUsers() {
      this.listLoading = true
      const res = await fetchUsers(this.listQuery.page, this.listQuery.limit)
      this.tableData = res.data.lists
      this.total = res.data.total
      this.listLoading = false
    },
    async searchUsers() {
      this.listLoading = true
      const res = await fetchUsers(this.listQuery.page, this.listQuery.limit, this.startDateValue, this.endDateValue, this.selectedChannel, this.selectedDevice, this.selectedType)
      this.tableData = res.data.lists
      this.total = res.data.total
      this.listLoading = !this.listLoading
    },
    handleModifyLimit(row) {
      this.dialogLimitRed = !this.dialogLimitRed
      this.selectRow = row
    },
    handleBan(row) {
      this.dialogBan = !this.dialogBan
      this.selectRow = row
    },
    async handleSubmitBan() {
      const res = await banUser(this.selectRow.id, this.form.ban_desc)
      const { code, msg } = res
      if (code < 0) {
        this.$message.error(msg)
      } else {
        this.fetchUsers()
        this.dialogBan = !this.dialogBan
        this.$message({
          type: 'success',
          message: msg
        })
      }
    }
  }
}
</script>
<style lang=""></style>
