<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>维护通知</b>
    </div>
    <el-row :gutter="20" style="margin: 1%">
      <el-col>
        <el-form :inline="true" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item label="标题: ">
            <el-input v-model="title" readonly style="margin-left: 20%" />
          </el-form-item>
        </el-form>
      </el-col>
      <el-col>
        <el-form :inline="true" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item label="牌头选项：">
            <el-input v-model="input" type="textarea" readonly />
          </el-form-item>
        </el-form>
      </el-col>
      <el-col>
        <el-form :inline="true" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item label="是否开启：">
            <el-checkbox v-model="checked" disabled border>开启</el-checkbox>
          </el-form-item>
        </el-form>
        <el-button
          type="primary"
          size="small"
          @click="handleEdit"
        >编辑</el-button>
      </el-col>
    </el-row>
    <el-dialog
      :visible.sync="dialogVisible"
      width="30%"
      :before-close="handleClose"
    >
      <el-row :gutter="20" style="margin: 1%">
        <el-col>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="标题: ">
              <el-input v-model="form.title" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="牌头选项：">
              <el-input v-model="form.input" type="textarea" />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="是否开启：">
              <el-checkbox v-model="form.checked">开启</el-checkbox>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button
          type="primary"
          @click="editMaintenanceConfiguration"
        >Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchMaintenanceConfiguration, editMaintenanceConfiguration } from '@/api/gameconfiguration'
export default {
  data() {
    return {
      input: '',
      checked: true,
      title: '',
      dialogVisible: false,
      form: {
        input: '',
        checked: '',
        title: ''
      }
    }
  },
  mounted() {
    this.fetchMaintenanceConfiguration()
  },
  methods: {
    async fetchMaintenanceConfiguration() {
      await fetchMaintenanceConfiguration().then(res => {
        this.title = res.data.maintenance_title
        this.input = res.data.maintenance_content
        res.data.sys_in_maintenance === 0 ? this.checked = false : this.checked = true
      })
    },
    async editMaintenanceConfiguration() {
      this.form.checked = this.form.checked ? this.form.checked = 1 : this.form.checked = 0
      await editMaintenanceConfiguration(this.form.checked, this.form.title, this.form.input)
      this.dialogVisible = !this.dialogVisible
      this.fetchMaintenanceConfiguration()
    },
    handleEdit() {
      this.form.input = this.input
      this.form.title = this.title
      this.form.checked = this.checked
      this.dialogVisible = !this.dialogVisible
    }
  }
}
</script>
<style>
.demo-input-label {
  display: inline-block;
  width: 130px;
}
</style>
