<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>建桌配置</b>
    </div>
    <el-row :gutter="20" style="margin: 1%">
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="min_order" label="建桌低消配置: ">
            <el-input v-model="tableConfiguration.min_order" style="margin-left: 5%" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            style="margin: 0.1% 0% 0% 0.5%"
            @click="openEditDialog('建桌低消配置', tableConfiguration.min_order, Data.min_order, 'editMinOrder')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="single_bet_limit" label="建桌单注配置：">
            <el-input v-model="tableConfiguration.single_bet_limit" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            @click="openEditDialog('建桌单注配置', tableConfiguration.single_bet_limit, Data.single_bet_limit, 'editSingleBetLimit')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="banker_pay_limit" label="系统公庄赔付上限：">
            <el-input v-model="tableConfiguration.banker_pay_limit" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            @click="openEditDialog('系统公庄赔付上限', tableConfiguration.banker_pay_limit, Data.banker_pay_limit, 'editBankerPayLimit')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="build_time" label="建桌时长配置：">
            <el-input v-model="tableConfiguration.build_time" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            style="margin-left: 0.75%"
            @click="openEditDialog('建桌时长配置', tableConfiguration.build_time, Data.build_time, 'editBuildTime')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="platform_commission" label="建桌系统抽水配置：">
            <el-input v-model="tableConfiguration.platform_commission" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            @click="openEditDialog('建桌系统抽水配置', tableConfiguration.platform_commission, Data.platform_commission, 'editPlatformCommission')"
          >提交</el-button>
        </el-form>
      </el-col>
      <el-col>
        <el-form ref="tableConfiguration" :inline="true" :model="tableConfiguration" :rules="textValidate" class="demo-form-inline" style="margin-top: 1%">
          <el-form-item prop="table_owner_commission" label="建桌桌主抽水配置：">
            <el-input v-model="tableConfiguration.table_owner_commission" />
          </el-form-item>
          <el-button
            type="primary"
            size="small"
            @click="openEditDialog('建桌桌主抽水配置', tableConfiguration.table_owner_commission, Data.table_owner_commission, 'editTableOwnerCommission')"
          >提交</el-button>
        </el-form>
      </el-col>
    </el-row>
    <el-dialog title="提示" :visible.sync="editDialog" center width="20%">
      <h4>{{ title }}</h4>
      <div>原配置：<b>{{ currentValue }}</b></div>
      <div>新配置：<b>{{ updateValue }}</b></div>
      <br>
      <div>确定修改吗?</div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleFunctionCall(action, $event)">确认</el-button>
        <el-button @click="editDialog = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchTableConfiguration } from '@/api/gameconfiguration'
import { editMinOrder, editSingleBetLimit, editBankerPayLimit, editBuildTime, editPlatformCommission, editTableOwnerCommission } from '@/api/edit-tableconfiguration'
export default {
  data() {
    const min_order = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const single_bet_limit = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const banker_pay_limit = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const build_time = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const platform_commission = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    const table_owner_commission = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('此字段不能为空'))
      } else {
        callback()
      }
    }
    return {
      tableConfiguration: {
        min_order: '',
        single_bet_limit: '',
        banker_pay_limit: '',
        build_time: '',
        platform_commission: '',
        table_owner_commission: ''
      },
      Data: {},
      title: '',
      editDialog: false,
      currentValue: null,
      updateValue: null,
      action: '',
      textValidate: {
        min_order: [{ required: true, trigger: 'blur', validator: min_order }],
        single_bet_limit: [{ required: true, trigger: 'blur', validator: single_bet_limit }],
        banker_pay_limit: [{ required: true, trigger: 'blur', validator: banker_pay_limit }],
        build_time: [{ required: true, trigger: 'blur', validator: build_time }],
        platform_commission: [{ required: true, trigger: 'blur', validator: platform_commission }],
        table_owner_commission: [{ required: true, trigger: 'blur', validator: table_owner_commission }]
      }
    }
  },
  mounted() {
    this.fetchTableConfiguration()
  },
  methods: {
    async fetchTableConfiguration() {
      await fetchTableConfiguration().then(res => {
        const { data } = res
        this.Data = data
        this.tableConfiguration.min_order = data.min_order
        this.tableConfiguration.single_bet_limit = data.single_bet_limit
        this.tableConfiguration.banker_pay_limit = data.banker_pay_limit
        this.tableConfiguration.build_time = data.build_time
        this.tableConfiguration.platform_commission = data.platform_commission
        this.tableConfiguration.table_owner_commission = data.table_owner_commission
      })
    },
    async editMinOrder() {
      await editMinOrder(this.tableConfiguration.min_order).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    async editSingleBetLimit() {
      await editSingleBetLimit(this.tableConfiguration.single_bet_limit).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    async editBankerPayLimit() {
      await editBankerPayLimit(this.tableConfiguration.banker_pay_limit).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    async editBuildTime() {
      await editBuildTime(this.tableConfiguration.build_time).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    async editPlatformCommission() {
      await editPlatformCommission(this.tableConfiguration.platform_commission).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    async editTableOwnerCommission() {
      await editTableOwnerCommission(this.tableConfiguration.table_owner_commission).then(res => {
        if (res.code >= 0) {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'success'
          })
        } else {
          this.$message({
            showClose: true,
            message: res.msg,
            type: 'error'
          })
        }
      })
      this.fetchTableConfiguration()
      this.editDialog = !this.editDialog
    },
    openEditDialog(title, updateValue, currentValue, action) {
      this.title = title
      this.updateValue = updateValue
      this.currentValue = currentValue
      this.action = action
      if (updateValue === '') {
        this.editDialog = false
      } else {
        this.editDialog = true
      }
      // this.editDialog = !this.editDialog
    },
    handleFunctionCall(functionName, event) {
      this[functionName](event)
    }
  }
}
</script>
<style>
.demo-input-label {
  display: inline-block;
  width: 130px;
}
</style>
