<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <!-- <b>Channel Quota Statistics Record</b> -->
        <b>渠道配额统计记录</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="日期:">
              <el-date-picker
                v-model="searchDate"
                type="daterange"
                range-separator="To"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
              />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="6">
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="操作模块:">
              <el-select v-model="value" placeholder="选择">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="5">
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="操作员: ">
              <el-input v-model="input" placeholder="请输入" />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="float: right; margin: 0% 0% 1.5% 0%"
      >搜索</el-button>
    </el-card>
    <el-table
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <el-table-column label="ID" prop="" align="center">
        <template slot-scope="{ row }">
          <span>{{ row._id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.op_time_text }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作员" prop="" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.op_user_text }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作模块"
        prop=""
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.module_name }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作内容"
        prop=""
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.msg }}</span>
        </template>
      </el-table-column>
    </el-table>
    <div style="margin-top: 1%">Cumulative query content : {{ total }}</div>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchLog"
    />
  </div>
</template>

<script>
import { fetchAdminLogs } from '@/api/log'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [
      ],
      options: [
        {
          value: 'Option1',
          label: 'Option1'
        },
        {
          value: 'Option2',
          label: 'Option2'
        },
        {
          value: 'Option3',
          label: 'Option3'
        },
        {
          value: 'Option4',
          label: 'Option4'
        },
        {
          value: 'Option5',
          label: 'Option5'
        }
      ],
      listQuery: {
        page: 1,
        limit: 20
      },
      value: '',
      searchDate: [],
      radio: 'username',
      input: '',
      dialogLimitRed: false,
      dialogBan: false,
      formInline: {
        user: '',
        region: ''
      },
      formLabelWidth: '120px',
      startDateValue: '',
      endDateValue: '',
      total: 0
    }
  },
  mounted() {
    this.fetchLog()
  },
  methods: {
    async fetchLog() {
      const res = await fetchAdminLogs(this.listQuery.page, this.listQuery.limit)
      this.total = res.data.total
      this.tableData = res.data.lists
      console.log(this.tableData)
    }
  }
}
</script>
<style lang=""></style>
