<template>
  <div style="margin: 0.5%; margin-top: 2%;">
    <el-card shadow="never">
      <div slot="header">
        <b>所有用户</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="关键字">
              <el-input
                v-model="usernameKeyword"
                placeholder=""
                clearable
              />
            </el-form-item>
          </el-form>
        </el-col>
        <el-col :span="8">
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="角色">
              <el-input
                v-model="idKeyword"
                placeholder=""
                clearable
              />
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="margin-bottom: 0.5%; float: right"
        @click="searchData"
      >查询</el-button>
    </el-card>
    <el-row>
      <el-button style="margin-top: 10px" type="success" @click="createUser">+创建</el-button>
      <el-button type="primary" :disabled="selectId.length == 0" @click="enableRoleAll">批量启用</el-button>
      <el-button type="warning" :disabled="selectId.length == 0" @click="disableRole">批量禁用</el-button>
      <el-button type="danger" :disabled="selectId.length == 0" @click="deleteAllUser">批量删除</el-button>
    </el-row>
    <el-table
      v-loading="loading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="margin-top: 1%"
      stripe
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        align="center"
        width="100"
        type="selection"
        style="margin: auto"
      />
      <el-table-column label="ID" prop="id" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="用户"
        prop="username"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.username }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="角色"
        prop="Role"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.role_maps">{{ row.role_maps[0].name }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="操作员"
        prop="realname"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.realname }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="创建时间"
        prop="create_time_text"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.create_time_text }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="状态"
        prop="status"
        align="center"
      >
        <template slot-scope="{ row }">
          <el-switch
            :value="row.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="handleChangeStatus(row)"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
        align="center"
        width="240px"
      >
        <template slot-scope="{ row }">
          <el-button type="primary" size="mini" @click="editAction(row)">
            编辑
          </el-button>
          <el-button size="mini" type="danger" @click="deleteUser(row)">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <div style="margin-top: 1%">
      Cumulative query content : {{ endDateValue }}
    </div> -->
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listFilter.page"
      :page_size.sync="listFilter.page_size"
      @pagination="fetchRoleList"
    />
    <el-dialog title="创建" :visible.sync="addDialog" center width="40%">
      <div style="text-align: start; font-size: 16px;">
        用户名:
      </div>
      <el-form style="margin: 3% 10% 0% 0%;">
        <el-form-item>
          <el-input
            v-model="username"
            type="text"
            placeholder="用户名"
            maxlength="20"
            show-word-limit
          />
          <span>最大长度20个字符，允许中文、英文字母、数字或特殊符号，唯一性</span>
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item style="margin-left: 0%; margin-top: 4%;">
          <span style="font-size:15px">用户角色:</span>
          <el-select
            v-model="roles"
            placeholder="Select"
            style="margin-left: 4.5%; width: 53%;"
          >
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item label="密码:" prop="password">
          <el-input
            :key="passwordType"
            v-model="password"
            :type="passwordType"
            placeholder="密码"
            style="width: 50%; margin: 0px 10px 8px;"
          />
          <span class="show-pwd" style="z-index: 9999; position: absolute; left: 55%; margin-top: 2px; cursor: pointer;" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
          <el-button type="primary" size="small" @click="setDefualtPassword">初始化密码</el-button>
        </el-form-item>
      </el-form>
      <!-- <div style="text-align: start; font-size: 15px;">
        默认密码: <span style="margin-left: 10px;">{{ defaultPassword }}</span>
      </div> -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="addDialog = false"> 取消 </el-button>
        <el-button type="primary" @click="addRole">提交</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑" :visible.sync="editDialog" width="40%">
      <el-form
        :inline="true"
        class="demo-form-inline"
        style="margin-top: 1%"
      >
        <el-form-item label="姓名: ">
          <el-input
            v-model="selectRow.username"
          />
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item v-if="selectRow.role_maps" label="角色:">
          <el-select
            v-model="selectRow.role_maps[0].id"
            placeholder="Select"
            style="margin-left: 1.5%; width: 60%;"
          >
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select>
        </el-form-item>
      </el-form>
      <el-form>
        <el-form-item label="密码:" style="margin-top: 30px;">
          <el-input
            :key="passwordType"
            v-model="password"
            :type="passwordType"
            placeholder="密码"
            style="width: 50%; margin: 0px 10px 8px;"
          />
          <span class="show-pwd" style="z-index: 9999; position: absolute; left: 55%; margin-top: 2px; cursor: pointer;" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
          <el-button type="primary" size="small" @click="setDefualtPassword">Initial Password</el-button>
        </el-form-item>
      </el-form>
      <!-- <el-button type="primary" @click="setDefualtPassword">Initial Password</el-button> -->
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="editRole">Save</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import router from '@/router'
import { fetchRoleList, listRole, addRole, editRole, disableRole, enableRole, deleteUser } from '@/api/roles'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      multipleSelection: [],
      options: [],
      roles: '',
      username: '',
      realname: '',
      defaultPassword: '123456',
      value: '',
      search: '',
      startDateValue: '',
      endDateValue: '',
      status: false,
      formLabelWidth: '120px',
      selectId: [],
      selectRow: {},
      redLimit: 0,
      password: '',
      addDialog: false,
      editDialog: false,
      total: 0,
      input: '',
      passwordType: 'password',
      listFilter: {
        page: 1,
        page_size: 20,
        username: '',
        realname: '',
        uid: ''
      },
      loading: true,
      usernameKeyword: '',
      idKeyword: ''
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  mounted() {
    this.listRole()
    this.fetchRoleList()
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    async searchData() {
      this.loading = true
      const res = await fetchRoleList(this.listFilter.page, this.listFilter.page_size, this.usernameKeyword, this.idKeyword)
      this.tableData = res.data.lists
      this.total = res.data.total
      this.loading = !this.loading
    },
    async fetchRoleList() {
      this.loading = true
      await fetchRoleList(this.listFilter.page, this.listFilter.page_size).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.loading = !this.loading
    },
    async addRole() {
      const res = await addRole(this.username, this.password, this.name, [this.roles])
      if (res.code <= -1) {
        this.$notify({
          message: res.msg,
          type: 'error',
          duration: 2000
        })
      } else {
        this.$notify({
          message: res.msg,
          type: 'success',
          duration: 2000
        })
      }
      this.createRole = res
      this.addDialog = !this.addDialog
      this.fetchRoleList()
      this.reset()
    },
    async listRole() {
      const res = await listRole()
      this.options = res.data.lists
    },
    reset() {
      this.username = ''
      this.realname = ''
      this.value = ''
      this.defaultPassword = ''
    },
    async editRole() {
      await editRole(this.selectRow.username, this.password, this.name, [this.selectRow.role_maps[0].id]).then(res => {
        if (res.code <= -1) {
          this.$notify({
            message: res.msg,
            type: 'error',
            duration: 2000
          })
        } else {
          this.$notify({
            message: res.msg,
            type: 'success',
            duration: 2000
          })
        }
      })
      this.fetchRoleList()
      this.editDialog = !this.editDialog
    },
    createUser() {
      this.addDialog = !this.addDialog
    },
    editAction(row) {
      this.editDialog = !this.editDialog
      this.selectRow = row
      console.log(this.selectRow.role_maps[0].id)
      // this.value = this.selectRow.role
    },
    enableRoleAll() {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          enableRole(this.selectId).then(res => {
            if (res.code >= 0) {
              this.$message({
                message: 'Modify succeeded',
                type: 'success'
              })
              this.fetchRoleList()
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    handleSelectionChange(val) {
      if (val.length !== this.selectRow) {
        this.selectId = []
      }
      this.selectRow = val
      for (let i = 0; i < this.selectRow.length; i++) {
        this.selectId.push(this.selectRow[i].id)
      }
      // this.selectId = [...new Set(this.selectId)]
    },
    handleChangeStatus(row) {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.switchStatus(row)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    async switchStatus(row) {
      if (row.status === 0) {
        const res = await enableRole([row.id])
        if (res.code >= 0) {
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchRoleList()
        }
      } else {
        const res = await disableRole([row.id])
        if (res.code >= 0) {
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchRoleList()
        }
      }
    },
    disableRole() {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          for (let i = 0; i < this.selectId.length; i++) {
            if (this.selectId[0] === this.selectId[1]) {
              this.selectId.splice(1, 1)
            }
          }
          disableRole(this.selectId).then(res => {
            if (res.code >= 0) {
              this.$message({
                message: 'Modify succeeded',
                type: 'success'
              })
              this.fetchRoleList()
            }
          })
          // console.log(res)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    deleteUser(row) {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          if (row.status === 0) {
            deleteUser([row.id]).then(res => {
              if (res.code >= 0) {
                this.$message({
                  message: 'Modify succeeded',
                  type: 'success'
                })
                this.fetchRoleList()
              }
            })
          }
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    deleteAllUser() {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          deleteUser(this.selectId).then(res => {
            if (res.code >= 0) {
              this.$message({
                message: 'Modify succeeded',
                type: 'success'
              })
              this.fetchRoleList()
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    setDefualtPassword() {
      this.password = '123456'
    },
    checkRecord(id) {
      const userId = id
      router.push({ name: 'LoginRecord', params: { id: userId }})
    }
  }
}
</script>
<style lang=""></style>
