<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>用户活跃</b>
      </div>
      <el-row :gutter="20">
        <el-col>
          <el-form
            :inline="true"
            class="demo-form-inline"
            style="margin-top: 1%"
          >
            <el-form-item label="开始时间: ">
              <el-date-picker v-model="startDateValue" type="date" />
            </el-form-item>
            <el-form-item label="结束时间: " style="margin-left: 2%">
              <el-date-picker v-model="endDateValue" type="date" />
            </el-form-item>
            <el-form-item label="选择渠道: " style="margin-left: 2%">
              <el-select
                v-model="selectedChannel"
                placeholder="Select"
                style="margin-left: 1.5%"
              >
                <el-option
                  v-for="item in channelOptions"
                  :key="item.id"
                  :label="item.realname"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="float: right; margin: 0% 0% 1% 0%"
        @click="searchUserActive"
      >查询</el-button>
    </el-card>
    <el-table
      v-loading="loading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" type="index" align="center" width="120px" /> -->
      <el-table-column label="渠道" prop="agent_id" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="总登录用户"
        prop="member_active_count"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.member_active_count !== ''">{{ row.member_active_count }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="次日" prop="nextDate" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.d1 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="7日" prop="nextWeek" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.d7 }}</span>
        </template>
      </el-table-column>
      <el-table-column label="30日" prop="nextMonth" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.d30 }}</span>
        </template>
      </el-table-column>
    </el-table>
    <!-- <div style="margin-top: 1%">Cumulative query content : {{ total }}</div> -->
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchUserActive"
    />
  </div>
</template>

<script>
import { fetchChannels } from '@/api/channel'
import { fetchUserActive } from '@/api/statistics'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      channelOptions: [],
      startDateValue: '',
      endDateValue: '',
      selectedChannel: '',
      selectedStartDate: '',
      selectedEndDate: '',
      loading: true,
      total: 0
    }
  },
  mounted() {
    this.fetchUserActive()
    this.fetchChannels()
  },
  methods: {
    async fetchChannels() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
    },
    async fetchUserActive() {
      this.loading = true
      await fetchUserActive(this.listQuery.page, this.listQuery.limit).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
        this.loading = !this.loading
      })
    },
    async searchUserActive() {
      this.loading = true
      if (this.startDateValue !== '') {
        const startDate = new Date(this.startDateValue)
        this.selectedStartDate = startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()
      }
      if (this.endDateValue !== '') {
        const endDate = new Date(this.endDateValue)
        this.selectedEndDate = endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate()
      }
      await fetchUserActive(this.listQuery.page, this.listQuery.limit, this.selectedChannel, this.selectedStartDate, this.selectedEndDate).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
        this.loading = !this.loading
      })
    }
  }
}
</script>
<style lang=""></style>
