<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>跑马灯</b>
    </div>
    <el-button
      type="primary"
      size="big"
      style="width: 110px;margin-bottom: 0.5%"
      @click="addDialog = true"
    >
      + 创建</el-button>
    <el-table
      v-loading="loading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <el-table-column label="序号" type="index" align="center" width="120px" />
      <el-table-column label="内容" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.content }}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建时间" prop="CreatedDate" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.create_time_text | parseTime('{y}-{m}-{d} {h}:{i}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="{ row }">
          <el-button
            type="primary"
            size="small"
            style="width: 80px"
            @click="handleEdit(row)"
          >编辑</el-button>
        </template>
      </el-table-column>
      <el-table-column label="开启/关闭" align="center">
        <template slot-scope="{ row }">
          <el-switch
            :value="row.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="handleChangeStatus(row)"
          />
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchMarquee"
    />
    <el-dialog title="请输入内容" :visible.sync="addDialog" center width="30%">
      <el-form ref="addForm" :model="addForm" :rules="textValidate" style="margin: 2% 2% 0% 2%">
        <el-form-item prop="content">
          <el-input
            v-model="addForm.content"
            placeholder="输入文本"
            type="text"
            name="content"
            clearable
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleAddSubmit">提交</el-button>
        <el-button @click="reset('addForm')">取消</el-button>
      </span>
    </el-dialog>
    <el-dialog title="请输入内容" :visible.sync="editDialog" center width="30%">
      <el-form ref="editForm" :model="editForm" :rules="textValidate" style="margin: 2% 2% 0% 2%">
        <el-form-item prop="content">
          <el-input v-model="editForm.content" type="text" name="content" clearable />
          <span />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleEditSubmit">提交</el-button>
        <el-button @click="resetEdit('editForm')">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { disableMarquee, editMarquee, enableMarquee, fetchMarquee, addMarquee } from '@/api/marquee'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    const textInput = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Please enter content'))
      } else {
        callback()
      }
    }
    return {
      tableData: [
      ],
      value: '',
      total: null,
      editDialog: false,
      addDialog: false,
      selectRow: {},
      editForm: {
        content: ''
      },
      addForm: {
        content: ''
      },
      listQuery: {
        page: 1,
        limit: 20
      },
      loading: true,
      textValidate: {
        content: [{ required: true, trigger: 'blur', validator: textInput }]
      }
    }
  },
  mounted() {
    this.fetchMarquee()
  },
  methods: {
    async fetchMarquee() {
      this.loading = true
      const res = await fetchMarquee(this.listQuery.page, this.listQuery.limit)
      this.total = res.data.total
      this.tableData = res.data.lists
      this.loading = !this.loading
    },
    handleEdit(row) {
      this.selectRow = row
      this.editForm.content = this.selectRow.content
      this.editDialog = !this.editDialog
    },
    async handleEditSubmit() {
      this.$refs.editForm.validate(async valid => {
        if (valid) {
          await editMarquee(this.selectRow.id, this.selectRow.title, this.editForm.content)
          this.editDialog = !this.editDialog
          this.fetchMarquee()
        }
      })
    },
    reset(formName) {
      this.addDialog = !this.addDialog
      this.$refs[formName].resetFields()
    },
    resetEdit(formName) {
      this.editDialog = !this.editDialog
      this.$refs[formName].resetFields()
    },
    async handleAddSubmit() {
      this.$refs.addForm.validate(async valid => {
        if (valid) {
          await addMarquee(this.addForm.content, 1)
          this.addDialog = !this.addDialog
          this.$set(this.addForm, 'content', '')
          this.fetchMarquee()
        }
      })
    },
    handleChangeStatus(row) {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.handleSwitch(row)
        })
    },
    async handleSwitch(row) {
      if (row.status === 1) {
        // disable
        const res = await disableMarquee([row.id])
        if (res.code >= 0) {
          // complete show notify success disable
          this.$message({
            message: res.msg,
            type: 'success'
          })
          this.fetchMarquee()
          // call api fectchMarquee to update the data
        }
      } else {
        // enable
        const res = await enableMarquee([row.id])
        if (res.code >= 0) {
          // complete show notify success enable
          this.$message({
            message: res.msg,
            type: 'success'
          })
          this.fetchMarquee()
          // call api fectchMarquee to update the data
        }
      }
    }
  }
}
</script>
<style lang=""></style>
