<template>
  <div style="margin: 0.5%">
    <div style="margin: 1%">
      <b>渠道列表</b>
    </div>
    <el-button
      type="primary"
      size="medium"
      style="width: 110px"
      @click="handleAdd"
    >
      + 新建</el-button>
    <el-table
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
      @sort-change="sortChange"
    >
      <el-table-column
        label="渠道名称"
        prop="realname"
        align="center"
        width="140"
      >
        <template slot-scope="{ row }">
          <span v-if="row.realname !== ''">{{ row.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="渠道ID"
        prop="id"
        align="center"
        width="140"
        :class-name="getSortClass('id')"
      >
        <template slot-scope="{ row }">
          <span v-if="row.username !== ''">{{ row.username }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="渠道说明"
        prop="ChannelDescription"
        align="center"
        width="140"
      >
        <template slot-scope="{ row }">
          <span v-if="row.desc !== ''">{{ row.desc }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="创建日期"
        prop="CreatedDate"
        align="center"
        width="140"
      >
        <template slot-scope="{ row }">
          <span v-if="row.create_time_text !== ''">{{ row.create_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="创建人" prop="Founder" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.create_user_maps">{{ row.create_user_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="总额度" prop="TotalAmout" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.agent_balance !== ''">{{ row.agent_balance }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="剩余额度" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.remain_balance !== ''">{{ row.remain_balance }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="{ row }">
          <el-button
            type="primary"
            size="small"
            style="width: 80px"
            @click="handleEdit(row)"
          >编辑</el-button>
        </template>
      </el-table-column>
      <el-table-column label="开启/关闭" align="center">
        <template slot-scope="{ row }">
          <el-switch
            :value="row.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="handleChange(row)"
          />
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.page_size"
      @pagination="fetchChannels"
    />
    <el-dialog title="新增渠道" :visible.sync="addDialog" center width="40%">
      <el-form ref="addForm" :rules="textValidate" :model="addForm" autocomplete="on" label-position="right">
        <el-form-item prop="realname" label="渠道名称: " label-width="30%">
          <el-input
            v-model="addForm.realname"
            placeholder=""
            tabindex="1"
            size="medium"
            name="realname"
            autocomplete="on"
          />
        </el-form-item>
        <el-form-item label="渠道说明: " label-width="30%">
          <el-input
            v-model="addForm.desc"
            type="text"
            size="medium"
            placeholder=""
          />
        </el-form-item>
        <el-form-item prop="agent_balance" label="渠道代理额度: " label-width="30%">
          <el-input
            v-model="addForm.agent_balance"
            placeholder=""
            type="text"
            size="medium"
            name="agent_balance"
          />
        </el-form-item>
        <el-form-item label="后台登录账号: " label-width="30%">
          <span>{{ addForm.name }}</span>
        </el-form-item>
        <el-tooltip v-model="capsTooltip" content="Caps lock is On" placement="right" manual>
          <el-form-item prop="password" label="后台登录密码: " label-width="30%">
            <el-input
              ref="password"
              v-model="addForm.password"
              placeholder=""
              tabindex="4"
              name="password"
              style="width: 60%;"
              size="medium"
              :type="passwordType"
              @keyup.native="checkCapslock"
              @blur="capsTooltip = false"
              @keyup.enter.native="addChannels"
            />
            <span class="show-pwd" style="z-index: 9999; position: absolute; left: 55%; margin-top: 2px" @click="showPwd">
              <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
            </span>
            <el-button type="primary" size="small" style="margin-left: 10px" @click="setDefualtPassword">初始密码</el-button>
          </el-form-item>
        </el-tooltip>
        <el-form-item label="开启: " label-width="30%">
          <el-switch
            :value="addForm.status === 1 ? true : false"
            active-color="#13ce66"
            inactive-color="#ff4949"
            style="margin: 0% 2%"
            @change="handleSwitchAddForm()"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button v-if="addDialog" type="primary" @click="addChannels">解封</el-button>
        <el-button @click="resetvalidate(['addForm', 'editForm'])">取消</el-button>
      </span>
    </el-dialog>
    <el-dialog
      title="编辑渠道"
      :visible.sync="editDialog"
      center
      width="40%"
    >
      <el-form ref="editForm" :rules="textValidate" :model="editForm" label-position="right">
        <el-form-item label="渠道名称: " label-width="30%" prop="realname">
          <el-input
            v-model="editForm.realname"
            size="medium"
          />
        </el-form-item>
        <el-form-item label="渠道说明: " label-width="30%">
          <el-input
            v-model="editForm.desc"
            type="text"
            size="medium"
            height="50px"
          />
        </el-form-item>
        <el-form-item
          label="渠道代理剩余额度: "
          label-width="30%"
          prop="agent_balance"
        >
          <el-input
            v-model="editForm.agent_balance"
            size="medium"
          />
        </el-form-item>
        <el-form-item label="后台登录账号: " label-width="30%">
          <span>{{ editForm.username }}</span>
        </el-form-item>
        <el-form-item label="后台登录密码: " label-width="30%">
          <el-button type="primary" size="mini" @click="setEditDefualtPassword">重制密码</el-button>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button v-if="editDialog" type="primary" @click="editChannels()">创建</el-button>
        <el-button @click="resetvalidate(['addForm', 'editForm'])">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Pagination from '@/components/Pagination'
import { fetchChannels, editChannels, addChannels, enable, disable } from '@/api/channel'
export default {
  components: { Pagination },
  data() {
    const validateUsername = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('用户名不能为空'))
      } else {
        callback()
      }
    }
    const validateRealname = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('代理余额不能为空'))
      } else {
        callback()
      }
    }
    const validateBalance = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('代理余额不能为空'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('密码不能少于 6 位'))
      } else {
        callback()
      }
    }
    return {
      tableData: [],
      value: '',
      startDateValue: '',
      endDateValue: '',
      switchOncreate: true,
      editDialog: false,
      defaultPassword: '123456',
      passwordType: 'password',
      addDialog: false,
      password: '',
      selectRow: {},
      capsTooltip: false,
      total: 0,
      list: null,
      tableKey: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        page_size: 20,
        importance: undefined,
        title: undefined,
        type: undefined,
        sort: '+id'
      },
      addForm: {
        username: this.name,
        password: '',
        agent_balance: '',
        desc: '',
        realname: '',
        status: 1
      },
      editForm: {},
      textValidate: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        realname: [{ required: true, trigger: 'blur', validator: validateRealname }],
        agent_balance: [{ required: true, trigger: 'blur', validator: validateBalance }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      }
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  created() {
    this.fetchChannels()
  },
  mounted() {
    if (this.addForm.username === '') {
      this.$refs.username
    } else if (this.addForm.password === '') {
      this.$refs.password
    }
    this.addForm.name = this.name
  },
  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    fetchChannels() {
      this.listLoading = true
      fetchChannels(this.listQuery.page, this.listQuery.page_size).then((response) => {
        this.list = response.data.lists
        this.total = response.data.total
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 100)
      })
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
    },
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    handleSwitchOn(row) {
      this.switchOncreate = !this.switchOncreate
      this.selectRow = row
    },
    handleAdd() {
      this.addDialog = true
    },
    handleEdit(row) {
      this.editDialog = !this.editDialog
      this.selectRow = row
      this.editForm = Object.assign({}, this.selectRow)
      this.editForm.name = this.name
    },
    reset() {
      this.addForm.username = ''
      this.addForm.password = ''
      this.addForm.agent_balance = ''
      this.addForm.desc = ''
      this.addForm.realname = ''
    },
    async editChannels() {
      if (this.editForm.password !== '') {
        this.$refs.editForm.validate(async valid => {
          if (valid) {
            const res = await editChannels(this.editForm.id, this.editForm.desc, this.editForm.realname, this.editForm.agent_balance, this.editForm.password)
            this.submitEditChannels(res)
          }
        })
      } else {
        this.$ref.editForm.validate(async valid => {
          if (valid) {
            const res = await editChannels(this.editForm.id, this.editForm.desc, this.editForm.realname, this.editForm.agent_balance)
            this.submitEditChannels(res)
          }
        })
      }
    },
    submitEditChannels(res) {
      if (res.code <= -1) {
        this.$notify({
          message: res.msg,
          type: 'error',
          duration: 2000
        })
      } else {
        this.$notify({
          message: res.msg,
          type: 'success',
          duration: 2000
        })
      }
      this.editDialog = !this.editDialog
      this.fetchChannels()
    },
    async addChannels() {
      this.$refs.addForm.validate(async valid => {
        if (valid) {
          const res = await addChannels(this.addForm)
          if (res.code <= -1) {
            this.$notify({
              message: res.msg,
              type: 'error',
              duration: 2000
            })
          } else {
            this.$notify({
              message: res.msg,
              type: 'success',
              duration: 2000
            })
            this.addDialog = !this.addDialog
          }
          this.reset()
          this.fetchChannels()
        }
      })
    },
    handleChange(row) {
      this.$confirm(
        'This will modify the status of the file. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
          center: true
        }
      )
        .then(() => {
          this.switchStatus(row)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Modify canceled'
          })
        })
    },
    async switchStatus(row) {
      console.log(row.id)
      if (row.status === 1) {
        const res = await disable([row.id])
        if (res.code >= 0) {
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchChannels()
        }
      } else {
        const res = await enable([row.id])
        if (res.code >= 0) {
          this.$message({
            message: 'Modify succeeded',
            type: 'success'
          })
          this.fetchChannels()
        }
      }
    },
    setDefualtPassword() {
      this.addForm.password = 'abc123#'
    },
    setEditDefualtPassword() {
      this.editForm['password'] = 'abc123#'
    },
    handleSwitchAddForm() {
      this.addForm.status === 1 ? this.addForm.status = 0 : this.addForm.status = 1
    },
    resetvalidate(form) {
      this.addDialog = false
      this.editDialog = false
      this.$refs[form[0]].resetFields()
      this.$refs[form[1]].resetFields()
    }
  }
}
</script>
<style lang=""></style>
