<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>用户留存</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <span
            class="demonstration"
            style="margin: 0.5%"
          ><label style="font-size: 14px;">开始时间 : </label></span>
          <el-date-picker
            v-model="startDateValue"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择开始时间"
          />
        </el-col>
        <el-col :span="8">
          <span class="demonstration" style="margin: 0.5%"><label style="font-size: 14px;">结束时间 : </label></span>
          <el-date-picker
            v-model="endDateValue"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="请选择开始时间"
            style="margin-left: 0.5%"
          />
        </el-col>
        <el-col
          :span="8"
        ><span><label style="font-size: 14px;">选择渠道 : </label></span>
          <el-select v-model="selectedChannel" placeholder="" filterable>
            <el-option
              v-for="item in channelOptions"
              :key="item.value"
              :label="item.realname"
              :value="item.id"
            /> </el-select></el-col>
        <el-col :span="24" style="margin-top: 2%">
          <el-row :gutter="20">
            <el-col>
              <el-radio v-model="radio" label="username">用户名</el-radio>
              <el-radio v-model="radio" label="id">ID</el-radio>
              <el-form
                :inline="true"
                class="demo-form-inline"
                style="margin-top: 1%"
              >
                <el-form-item label="查询关键字">
                  <el-input
                    v-model="searchKeyword"
                    placeholder=""
                    clearable
                  />
                </el-form-item>
              </el-form>
            </el-col>
          </el-row>
        </el-col>
        <el-button type="success" style="float: right" @click="onSearch">查询</el-button>
      </el-row>
    </el-card>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <el-table-column label="ID" prop="ID" align="center" width="140">
        <template slot-scope="{ row }">
          <span v-if="row.username !== ''">{{ row.username }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="用户名"
        prop="Username"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.realname !== ''">{{ row.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="渠道ID"
        prop="ChannelID"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="手机号"
        prop="PhoneNumber"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.phone !== ''">{{ row.phone }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="注册设备"
        prop="RegisterDevice"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.origin_text !== ''">{{ row.origin_text }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="注册时间" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.create_time_text !== ''">{{ row.create_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="登录记录" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.login_time_text !== ''">{{ row.login_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column
        label="Registration record"
        prop="RegisterRecord"
        align="center"
      >
        <template>
          <span>Check</span>
        </template>
      </el-table-column> -->
      <el-table-column
        label="解除拉黑"
        align="center"
        width="230"
        class-name="small-padding fixed-width"
      >
        <template slot-scope="{ row }">
          <el-button size="mini" type="danger" @click="handleBan(row)">
            解封
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- <div style="margin-top: 1%">累计查询内容 : {{ total }}条</div> -->
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchBanUsers"
    />
    <el-dialog title="解封用户" :visible.sync="dialogBan" center width="30%">
      <div v-if="selectRow.agent_maps" style="text-align: center">
        用户名: {{ selectRow.agent_maps.realname }} ID : {{ selectRow.username }}
      </div>
      <div v-else style="text-align: center">
        用户名: - ID : {{ selectRow.username }}
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleSubmitBan">解封</el-button>
        <el-button @click="dialogBan = false">取消</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchChannels } from '@/api/channel'
import { unblockUser, fetchBanUsers } from '@/api/user-query'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      channelOptions: [
      ],
      value: '',
      radio: 'username',
      dialogBan: false,
      formLabelWidth: '120px',
      selectRow: {},
      total: 0,
      startDateValue: '',
      endDateValue: '',
      selectedStartDate: '',
      selectedEndDate: '',
      selectedChannel: '',
      selectedUsername: '',
      selectedRealname: '',
      searchKeyword: '',
      listLoading: true
    }
  },
  mounted() {
    this.fetchBanUsers()
    this.fetchChannels()
  },
  methods: {
    async onSearch() {
      this.listLoading = true
      console.log(this.searchKeyword)
      if (this.radio === 'username') {
        this.selectedRealname = this.searchKeyword
        this.selectedUsername = ''
      } else {
        this.selectedUsername = this.searchKeyword
        this.selectedRealname = ''
      }
      const res = await fetchBanUsers(this.listQuery.page, this.listQuery.limit, this.startDateValue, this.endDateValue, this.selectedChannel, this.selectedUsername, this.selectedRealname)
      this.tableData = res.data.lists
      this.listLoading = false
      this.total = res.data.total
    },
    async fetchChannels() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
      this.listLoading = false
    },
    async fetchBanUsers() {
      const res = await fetchBanUsers(this.listQuery.page, this.listQuery.limit)
      this.tableData = res.data.lists
      this.total = res.data.total
    },
    handleModifyLimit(row) {
      console.log(row)
      this.dialogLimitRed = !this.dialogLimitRed
      this.selectRow = row
    },
    handleBan(row) {
      this.dialogBan = !this.dialogBan
      this.selectRow = row
    },
    async handleSubmitBan() {
      const res = await unblockUser(this.selectRow.id)
      const { code, msg } = res
      if (code < 0) {
        this.$message.error(msg)
      } else {
        this.fetchBanUsers()
        this.dialogBan = !this.dialogBan
        this.$message({
          type: 'success',
          message: msg
        })
      }
    }
  }
}
</script>
<style lang=""></style>
