<template>
  <div style="margin: 0.5%">
    <router-link to="/users/all_users"><el-button type="info" style="margin: 1% 0%">返回</el-button></router-link>
    <el-card shadow="never">
      <div slot="header">
        <b>登陆记录</b>
      </div>
      <div v-if="tableData.length > 0" style="margin: 1% 0.1%">用户名 : <span style="margin-left: 1.5%">{{ tableData[0].username }}</span></div>
      <el-row :gutter="20">
        <el-col :span="8">
          <el-row :gutter="20">
            <el-col>
              <span
                class="demonstration"
                style="margin: 0.5%"
              >开始时间 :</span>
              <el-date-picker
                v-model="startDateValue"
                style="margin-left: 0.5%"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder=""
              />
            </el-col>
            <el-col style="margin-top: 1%">
              <span class="demonstration" style="margin: 0.5%">结束时间 :</span>
              <el-date-picker
                v-model="endDateValue"
                type="date"
                placeholder=""
                value-format="yyyy-MM-dd"
                style="margin-left: 0.5%"
              />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-button type="success" style="margin: 1% 0%; float: right;" @click="searchLoginRecord">查询</el-button>
    </el-card>
    <el-table
      v-loading="listLoading"
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" align="center" type="index" width="100px" /> -->
      <el-table-column
        label="时间"
        prop="login_time_text"
        align="center"
      >
        <template slot-scope="{ row }">
          <span v-if="row.login_time_text !== ''">{{ row.login_time_text | parseTime('{y}-{m}-{d}') }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="IP" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.login_ip !== ''">{{ row.login_ip }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="携带" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.agent !== ''">{{ row.agent }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
    </el-table>
    <!-- <div style="margin-top: 1%">
      Cumulative query content : {{ total }}
    </div> -->
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchLoginRecord"
    />
  </div>
</template>

<script>
import { fetchUsersLogin } from '@/api/user-query'
import Pagination from '@/components/Pagination' // secondary package based on el-pagination
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [],
      listQuery: {
        page: 1,
        limit: 20
      },
      value: '',
      startDateValue: '',
      endDateValue: '',
      selectedStartDate: '',
      selectedEndDate: '',
      total: 0,
      listLoading: true
    }
  },
  mounted() {
    this.fetchLoginRecord()
  },
  methods: {
    async fetchLoginRecord() {
      this.listLoading = true
      await fetchUsersLogin(this.$route.params.id, this.listQuery.page, this.listQuery.limit).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.listLoading = false
    },
    async searchLoginRecord() {
      this.listLoading = true
      await fetchUsersLogin(this.$route.params.id, this.listQuery.page, this.listQuery.limit, this.startDateValue, this.endDateValue).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.listLoading = false
    }
  }
}
</script>
<style lang=""></style>
