<template>
  <div style="margin: 0.5%">
    <el-card shadow="never">
      <div slot="header">
        <b>渠道额度统计记录</b>
      </div>
      <el-row :gutter="20">
        <el-col :span="8">
          <span
            class="demonstration"
            style="margin: 0.5%"
          >开始时间: </span>
          <el-date-picker
            v-model="startDateValue"
            type="date"
            placeholder="请选择开始时间"
          />
        </el-col>
        <el-col :span="8">
          <span class="demonstration" style="margin: 0.5%">截止时间: </span>
          <el-date-picker
            v-model="endDateValue"
            type="date"
            placeholder="请选择截止时间"
            style="margin-left:0.5%"
          />
        </el-col>
        <el-col :span="8">
          <span>选择渠道: </span>
          <el-select v-model="selectedChannel" placeholder="请选择渠道" filterable>
            <el-option
              v-for="item in channelOptions"
              :key="item.value"
              :label="item.realname"
              :value="item.id"
            />
          </el-select>
        </el-col>
        <el-col :span="8" style="margin-top: 2%">
          <span>是否饱和: </span>
          <el-select v-model="selectedStatus" placeholder="">
            <el-option
              v-for="item in statusOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-col>
      </el-row>
      <el-button
        type="success"
        style="float: right; margin: 1% 0% 1% 0%"
        @click="search"
      >查询</el-button>
    </el-card>
    <el-table
      :data="tableData"
      border
      fit
      highlight-current-row
      style="width: 100%; margin-top: 1%"
      stripe
    >
      <!-- <el-table-column label="序号" type="index" width="120px" align="center" /> -->
      <el-table-column label="日期" prop="date" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.date !== ''">{{ row.date }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column label="渠道" prop="agent_id" align="center">
        <template slot-scope="{ row }">
          <span v-if="row.agent_maps">{{ row.agent_maps.realname }}</span>
          <span v-else>{{ $emptyData }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="取款额度"
        prop="agent_balance"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.withdraw_amount }}</span>
        </template>
      </el-table-column>
      <el-table-column
        label="剩余额度"
        prop="remain_balance"
        align="center"
      >
        <template slot-scope="{ row }">
          <span>{{ row.remain_balance }}</span>
        </template>
      </el-table-column>
      <el-table-column label="总额度" prop="withdraw_amount" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.agent_balance }}</span>
        </template>
      </el-table-column>
      <el-table-column label="饱和度" prop="saturation" align="center">
        <template slot-scope="{ row }">
          <span>{{ row.saturation }}%</span>
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="listQuery.page"
      :limit.sync="listQuery.limit"
      @pagination="fetchChannelWithdrawals"
    />
  </div>
</template>

<script>
import { fetchChannels } from '@/api/channel'
import { fetchChannelWithdrawals } from '@/api/withdrawal'
import Pagination from '@/components/Pagination'
export default {
  components: { Pagination },
  data() {
    return {
      tableData: [
      ],
      channelOptions: [],
      statusOptions: [
        { label: '全部', value: '' },
        { label: '未饱和', value: '0' },
        { label: '已饱和', value: '1' }
      ],
      listQuery: {
        page: 1,
        limit: 20
      },
      selectedStatus: '',
      startDateValue: '',
      endDateValue: '',
      selectedChannel: '',
      selectedStartDate: '',
      selectedEndDate: '',
      total: 0,
      loading: true
    }
  },
  mounted() {
    this.fetchChannelWithdrawals()
    this.fetchChannels()
  },
  methods: {
    async search() {
      this.loading = true
      if (this.startDateValue !== '') {
        const startDate = new Date(this.startDateValue)
        this.selectedStartDate = startDate.getFullYear() + '-' + (startDate.getMonth() + 1) + '-' + startDate.getDate()
      }
      if (this.endDateValue !== '') {
        const endDate = new Date(this.endDateValue)
        this.selectedEndDate = endDate.getFullYear() + '-' + (endDate.getMonth() + 1) + '-' + endDate.getDate()
      }
      await fetchChannelWithdrawals(this.listQuery.page, this.listQuery.limit, this.selectedStartDate, this.selectedEndDate, this.selectedChannel, this.selectedStatus).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.loading = !this.loading
    },
    async fetchChannels() {
      await fetchChannels().then(res => {
        this.channelOptions = res.data.lists
      })
    },
    async fetchChannelWithdrawals() {
      this.loading = true
      await fetchChannelWithdrawals(this.listQuery.page, this.listQuery.limit).then(res => {
        this.tableData = res.data.lists
        this.total = res.data.total
      })
      this.loading = !this.loading
    }
  }
}
</script>
<style lang=""></style>
